.bola{
    width: 60px;
    height: 60px;
    border-radius: 25px;
    /*background-color: #000;*/
    position: absolute;
    background-image: url("fantasma.png");
    background-size: 50px;
    background-repeat: no-repeat;

    
}
body{
    cursor:crosshair;
  }
*{
    background-color: rgb(172, 166, 166);
}
