@import url('https://fonts.googleapis.com/css2?family=Arvo');

body{
  font-family: 'Arvo', serif;
}
.card{
  font-family: 'Arvo', serif;
  margin-top: 10px;
}
.city{
  font-family: 'Arvo', serif;
  font-size: 32px;
}
.date{
  font-family: 'Arvo', serif;
  font-size: 16px;
}
.container-temp{
  font-family: 'Arvo', serif;
  display: flex;
  justify-content: center;
  background-color: rgba(244, 208, 63, 0.2);
  box-shadow: 5px 6px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  font-size: 100px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}
.weather{
  font-family: 'Arvo', serif;
  font-size: 32px;
}
.low-high{
  font-family: 'Arvo', serif;
  font-size: 22px;
}